{% extends 'base.html' %}
{% block title %}
	<title>天天生鲜-商品详情</title>
{% endblock title %}
{% block header%}
	<script type="text/javascript">
		$(function(){
		    //加入购物车
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;

			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
			$('#add_cart').click(function(){
			    data = {
			        'gid':{{ good.id }},
                    'count': $('.num_show').val()
                }
                $.get('/cart/goodtocart/',data , function(data){
                    if(data.name_error==1){
                        location.href=location.protocol+'//'+location.hostname+':'+location.port+'/user/login/?lastpath='+location.pathname
                    }
                    else if(data.name_error==0){
                        if(data.code==1){
                            $(".add_jump").stop().animate({
                                'left': $to_y+7,
                                'top': $to_x+7},
                                "fast", function() {
                                    $(".add_jump").fadeOut('fast',function(){
                                        if(data.is_in_cart==0){
                                            $('#show_count').html(parseInt($('#show_count').html())+1);
                                        }
                                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

                                    });

                            });
                        }
                    }
                })

			})
            //商品数量加减
            $('.add').click(function(){
                $('.num_show').val(parseInt($('.num_show').val())+1).blur()
            })
            $('.minus').click(function(){
                $('.num_show').val(parseInt($('.num_show').val())-1).blur()
            })
            $('.num_show').blur(function(){
                var num = $(this).val()
                if(num<1){
                    num = 1
                    alert('商品数量最小１')
                }
                else if(num>100){
                    num = 100
                    alert('商品数量最大100')
                }
                num = Math.floor(num)
                $(this).val(num)
                var goodprice = parseFloat($('.show_pirze em').html())
                var sum = (goodprice*num).toFixed(2)
                $('.total em').html(sum+'元')

            });
            //立即购买提交订单
            $('.buy_btn').click(function(){
                count = $('.num_show').val()
                gid = $('.goods_detail_con').prop('id')
                $(this).prop('href','/order/place_order/?count='+count+'&gid='+gid)
            })
		})
	</script>
{% endblock header%}
{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
                    <li><a href="/goods/list_1_1_1/" class="fruit">新鲜水果</a></li>
                    <li><a href="/goods/list_2_1_1/" class="seafood">海鲜水产</a></li>
                    <li><a href="/goods/list_3_1_1/" class="meet">猪牛羊肉</a></li>
                    <li><a href="/goods/list_4_1_1/" class="egg">禽类蛋品</a></li>
                    <li><a href="/goods/list_5_1_1/" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/goods/list_6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ good.gtype }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix" id="{{ good.id }}">
		<div class="goods_detail_pic fl"><img src="/static/media/{{ good.gimg }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good.gname }}</h3>
			<p>{{ good.gintro }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ good.gprice }}</em></span>
				<span class="show_unit">单  位：{{ good.gunti }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ good.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for item in moodslist %}
					<li>
						<a href="#"><img src="/static/media/{{ item.gimg }}"></a>
						<h4><a href="#">{{ item.gname }}</a></h4>
						<div class="prize">￥{{ item.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ good.gdescription }} </dd>
				</dl>
			</div>

		</div>
	</div>
	<div class="add_jump"></div>
{% endblock body %}
