{% extends 'base.html' %}
{% block title %}
	<title>天天生鲜-商品列表</title>
{% endblock title %}
{% block body%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
                    <li><a href="/goods/list_1_1_1/" class="fruit">新鲜水果</a></li>
                    <li><a href="/goods/list_2_1_1/" class="seafood">海鲜水产</a></li>
                    <li><a href="/goods/list_3_1_1/" class="meet">猪牛羊肉</a></li>
                    <li><a href="/goods/list_4_1_1/" class="egg">禽类蛋品</a></li>
                    <li><a href="/goods/list_5_1_1/" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/goods/list_6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ gtitle }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for item in moodslist %}
					<li>
						<a href="/goods/goodinfo_{{ item.id }}/"><img src="/static/media/{{ item.gimg }}"></a>
						<h4><a href="/goods/goodinfo_{{ item.id }}/">{{ item.gname }}</a></h4>
						<div class="prize">￥{{ item.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
                {% for title in order_title %}
                    {% if forloop.counter == omethod %}
                        <a href="/goods/list_{{ page.number }}_1_{{ forloop.counter }}/" class="active">{{ title }}</a>
                    {% else %}
                        <a href="/goods/list_{{ page.number }}_1_{{ forloop.counter }}/">{{ title }}</a>
                    {% endif %}
                {% endfor %}
			</div>

			<ul class="goods_type_list clearfix">
                {% for item in plist %}
				<li>
					<a href="/goods/goodinfo_{{ item.id }}/"><img src="/static/media/{{ item.gimg }}"></a>
					<h4><a href="/goods/goodinfo_{{ item.id }}/">{{ item.gname }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ item.gprice }}</span>
						<span class="unit">{{ item.gprice }}/{{ item.gunti }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				<a href="/goods/list_{{ page.number }}_{{ page.previous_page_number }}_{{ omethod }}"><上一页</a>
                {% endif %}
                {% for index in blist %}
                {% if pindex == index %}
                    <a href="/goods/list_{{ page.number }}_{{ index }}_{{ omethod }}" class="active">{{ index }}</a>
                 {% else %}
                    <a href="/goods/list_{{ page.number }}_{{ index }}_{{ omethod }}" >{{ index }}</a>
                {% endif %}
                {% endfor %}
                {% if page.has_next %}
				<a href="/goods/list_{{ page.number }}_{{ page.next_page_number }}_{{ omethod }}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}
