{% extends 'base.html' %}
{% block title %}
	<title>天天生鲜-用户中心</title>
{% endblock title %}
{% block subname %}
<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
{% endblock subname %}
{% block body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" >· 个人信息</a></li>
				<li><a href="/user/uorder_1/" class="active">· 全部订单</a></li>
				<li><a href="/user/usite/" >· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in pagelist %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.odatetime}}</li>
					<li class="col02">订单号：{{order.onumber}}</li>
					<li class="col02 stress">{{order.ostate}}未支付</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								{% for cart in order.orderwithcart_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/media/{{cart.ocart.cgood.gimg}}"></li>
									<li class="col02">{{cart.ocart.cgood.gname}}<em>{{cart.ocart.cgood.gprice}}元/{{cart.ocart.cgood.gunti}}</em></li>
									<li class="col03">{{cart.ocart.gcount}}</li>
									<li class="col04">{{cart.ocart.cgood.gprice}}元</li>
								</ul>
								{% endfor %}
							</td>
							<td width="15%">{{order.oprice}}元</td>
							<td width="15%">{{order.ostate}}待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
				{% endfor %}
			{% load filters %}
				<div class="pagenation">
					<a href="/user/uorder_1">首页</a>

					{% if page.has_previous %}
					<a href="/user/uorder_{{ page.previous_page_number }}/"><上一页</a>
					{% endif %}

					{% if page.number > 3 and page.paginator.num_pages > 5 %}
					<a href="javascript:;" >...</a>
					{% endif %}

					{% for index in index_list|list_splice:page.number %}
					{% if page.number == index %}
						<a href="/user/uorder_{{ index }}/" class="active">{{ index }}</a>
					 {% else %}
						<a href="/user/uorder_{{ index }}/" >{{ index }}</a>
					{% endif %}
					{% endfor %}

					{% if page.number > 3 and  page.number|add:2 < page.paginator.num_pages %}
					<a href="javascript:;" >...</a>
					{% endif %}

					{% if page.has_next %}
					<a href="/user/uorder_{{ page.next_page_number }}/">下一页></a>
					{% endif %}

					<a href="/user/uorder_{{page.paginator.num_pages}}/">尾页</a>
				</div>
		</div>
	</div>
{% endblock body %}
